@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3785ff;
  --color-text-primary: #212d40;
  --color-text-secondary: #9ba1ac;
  --color-background: #d5e1ef;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background);
}
